body{
    padding-top: 18%;
    align-items: center;
    padding: 16% 0 0 24%;
}

.stopwatch{
    background: #ffb326;  
    width: 70%;  
    border: 5px solid #000000;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.display{
    font-size: 5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    color: #2e2e2e;
    text-shadow: 2px 2px 8px #555555;
    margin-bottom: 25px;
}
.controls button{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 70px;
    margin: 10px;
    border: none;
    border-radius: 20px;
}
.Name{
    font-size: 20px;
    padding-left: 9%;
    margin-bottom: 20px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}